<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springleaf.oneblog.mapper.TagMapper">
    <select id="findTagsByArticleId" parameterType="long" resultType="com.springleaf.oneblog.pojo.Tag">
        select id,avatar,tag_name from ms_tag
        <where>
            id in
            (select tag_id from ms_article_tag where article_id = #{articleId})
        </where>
    </select>
    <select id="findHotTagIds" parameterType="int" resultType="java.lang.Long">
        select tag_id from ms_article_tag group by tag_id order by count(1) desc limit #{limit}
    </select>
    <select id="findTagsByTagIds" parameterType="list" resultType="com.springleaf.oneblog.pojo.Tag">
        select id,tag_name from ms_tag
        where id in
        <foreach collection="tagIdsList" item="tagId" separator="," open="(" close=")">
            #{tagId}
        </foreach>
    </select>
</mapper>